body{
	margin: 0;
}

.image{
	padding: 50px 0;
}

.container{
	overflow: hidden;
	margin: 0 auto;
	width: 960px;
	border: 1px red;
}

.img_item{
	float: left;
	width: 25%;
	padding: 3px;
}

.img_item img{
	width: 100%;
}
